html,
body {
  padding: 0;
  margin: 0;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  display: inline;
  vertical-align: bottom;
  border-style: none;
}

@font-face {
  font-family: 'icon';
  src: url('/fonts/icon.woff2?20210630160508') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.nav-item:hover::after {
  content: '';
  position: absolute;
  height: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 3rem;
  border-top: 3px solid #fff;
}

.product-container:hover .hidden {
  display: block;
}

.bg-202020 {
  background-color: #202020;
}

.bg-333 {
  background-color: #333;
}

.bg-404040 {
  background-color: #404040;
}

.bg-orange {
  background-color: #e59703;
}

.bg-recipe {
  background-color: #f4f1ec;
}

.text-ccc {
  color: #cccccc;
}

.text-999 {
  color: #999;
}

.text-666 {
  color: #666;
}

.text-green {
  color: #4ba53a;
}

.text-coffee {
  color: #d59c66;
}

.footer-news-literal {
  background-image: linear-gradient(to bottom, #404040 0%, #333 200px);
}

.h-custom-90 {
  height: 90px;
}

.border-999 {
  border-color: #999;
}

.price::before {
  line-height: 1em;
  content: '¥ ';
  font-size: 1.125rem;
}

.price::after {
  line-height: 1em;
  content: '（税込）';
  font-size: 0.75rem;
}
